@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --color-white: #FFFFFF;
    --color-beige: #FFFFC8;
    --color-yellow: #FAF360;
    --color-lightred: #F06565;
    --color-red: #EF2A31;
    --color-lightgrey: #D8E1E1;
    --color-mediumgrey: #929292;
    --color-darkgrey: #4C4F4F;
    --color-lightblack: #262827;
    --color-black: #000000;


    min-width: 350px;
    max-width: 1400px;
    padding: 0% 0% 0% 0%;
    scroll-behavior: smooth;
}

.h1 {font-weight: 900; font-size: 2.986rem;}
.h2 {font-weight: 700; font-size: 2.488rem;}
.h3 {font-weight: 500; font-size: 2.074rem;}
.h4 {font-weight: 300; font-size: 1.728rem;}
.h5 {font-weight: 200; font-size: 1.44rem;}
.h6 {font-weight: 100; font-size: 1.2rem;}
.p {font-weight: 100; font-size: 1rem;}

.strong {
    color: var(--cor-strong);
}
.highlight {
    text-decoration: underline #F06565;
}

.bodystyle { 
    display: flex;
    flex-direction: column;
    margin: 0 0 0 15%;
    padding: 0% 0% 0% 0%;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-white);
    color: var(--color-lightblack);
    border: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.headerstyle {
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    width: 100%;
    max-width: 100%;
    padding: 2%;
    gap: 0%;
    margin: 2%;
}
.navmenu {
    float: right;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 1rem;
    height: 4.0rem;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
}
.CV_logo {
    Padding: 0;
    width: 250px;
    height: auto;
}
.item {
    text-decoration: none;
    text-align: right;
    color: var(--color-lightblack);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    padding: 0.5rem 0 0 1rem;
    width: 130px;
}
.item:hover {
    background-color: var(--color-lightgrey);
    border-bottom: 2px solid var(--color-lightred);
    color: var(--color-darkgrey);
    font-weight: 600;
    border-radius: 1rem 0 0 0 ;
}
.item:active {
    background-color: var(--color-lightred);
    text-align: end;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    border: none;
}




.mainclass {
    display: flex;
    flex-direction: column;
    padding: 0%;
    align-items: left;
    justify-content: center;
    text-align: center;
    width: 100%;
}




.menu_products__links {
    display: inline-flex;
    justify-content: start;
    gap: 5%;
}
.cta_btn_principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: var(--color-lightgrey);
    width: 17rem;
    border-radius: 1.6rem;
    padding: 1rem 0 1rem 0;
    border: var(--color-lightblack) solid 1px;
    height: 2.0rem;
}
.cta_btn_principal_link {
    color: var(--color-lightblack);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
}
.btn_icon {
    height: 35px;
    width: 35px;
}
.cta_btn_secundario {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: var(--color-white);
    width: 17rem;
    border-radius: 1.6rem;
    padding: 1rem 0 1rem 0;
    border: var(--color-lightblack) solid 1px;
    height: 2.0rem;
}
.cta_btn_secundario_link {
    color: var(--color-lightblack);
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
}
.cta_btn_principal:hover {
    background-color: var(--color-lightred);
}
.cta_btn_secundario:hover {
    background-color: var(--color-lightred);
}
.cta_btn_principal_link:hover {
    color: var(--color-lightgrey);
}
.cta_btn_secundario_link:hover {
    color: var(--color-lightgrey);
}


.section_hero_principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;  
    color: var(--color-white);
    background-image: url(/images/daniel-alfonso-leon-S4wvjKxljIg-unsplash_1920x1080.jpg);
    background-attachment: scroll;
    background-size: cover;
    padding: 5% 5% 5% 5%;
    border-radius: 3rem 0 0 0;
    border-bottom: 3px solid var(--color-lightred);
    margin-top: 10px;
    height: 550px;
    width: 90%;
}
.div_section_hero_principal {
    display: flex;
    flex-direction: column;
    row-gap: 20rem;
    width: 100%;
    padding: 0 0 0 0;
}
.div_section_hero_titulo_principal {
    font-size: 2.788rem;
    letter-spacing: 5px;
    font-weight: 700;
    line-height: 3.6rem;
    text-align: left;
    margin: 0;
}
.div_section_hero_h1_principal {
    line-height: 1.8;
    text-align: left;
    font-weight: 500;
    margin: 90px 0px 0px 0px;
    letter-spacing: 1px;
}





.h2_sobre {
    text-align: left;
    font-size: 2.074rem;
    width: 96%;
    margin: 10% 0 0 0;
    padding: 0 0 0 2%;
    border-left: 3px solid var(--color-lightred);
    align-content: start;
    line-height: 2.4rem;
    display: hide;
}
.section_hero {
    display: flex;
    flex-direction: row;
    padding: 5% 5% 10% 5%;
    align-items: start;
    text-align: center;
    justify-content: space-between;  
    color: var(--color-lightblack);
    height: 600px;

}
.div_section_hero {
    display: flex;
    flex-direction: column;
    gap: 5%;
    row-gap: 1rem;
    width: 70%;
    height: 100%;
}

.div_section_hero_intro {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: left;
    gap: 3%;
}
.rhyped_logo_small {
    Padding: 0;
    width: 300px;
    height: auto;
}
.h2_sobrecvss {
    text-align: left;
    font-size: 1.788rem;
    width: 96%;
    margin: 2rem 0 1rem 0;
    padding: 0 0 0 2%;
    border-left: 3px solid var(--color-lightred);
    align-content: start;
    line-height: 2.4rem;
    color: grey;
}
.div_section_hero_titulo {
    display: flex;
    font-size: 2.074rem;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 3.3rem;
    text-align: left;
    margin: 0 0 1rem 0;
}
.div_section_hero_h1 {
    line-height: 1.8;
    text-align: left;
    font-weight: 400;
    margin: 0 0 1rem 0;
    letter-spacing: 1px;

}
.div_heroimg {
    text-align: right;
    width: 50%;
}
.heroimg {
    width: auto;
    height: 600px;
    border-radius: 3rem 0 0 0;
    border-bottom: 3px solid var(--color-lightred);
}







.h2_solucoes {
    text-align: left;
    font-size: 2.074rem;
    width: 96%;
    margin: 0 0 3rem 0;
    padding: 0 0 0 2%;
    border-left: 3px solid var(--color-lightred);
    align-content: start;
    line-height: 2.4rem;
}
.section_solucoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: var(--color-lightblack);
    background-image: linear-gradient(rgba(0, 0, 0, 0.034), 40% , rgba(0, 0, 0, 0.158), 80% , rgba(0, 0, 0, 0.336));
    background-attachment: scroll;
    background-size: cover;
    padding: 5% 5% 5% 5%;
    border-radius: 3rem 0 0 0;
    border-bottom: 3px solid var(--color-lightred);
    height: 600px;
    padding: 5%;

}
.div_section_solucoes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}
.h2_candidatos {
    text-align: left;
    font-size: 2.074rem;
    width: 96%;
    margin: 0 0 3rem 0;
    padding: 0 0 0 2%;
    border-left: 3px solid var(--color-lightred);
    align-content: start;
    line-height: 2.4rem;
}
.div_section_solucoes_titulo {
    display: flex;
    font-size: 1.44rem;
    letter-spacing: 1px;
    line-height: 2rem;
    font-weight: 700;
    text-align: left;
    margin: 0;
}
.div_section_solucoes_h2 {
    font-size: 1.788rem;
    line-height: 2.4rem;
    font-weight: 600;
}
.div_section_solucoes_h3 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
}
.div_solucoes_img {
    text-align: center;
    width: 30%;
}
.solucoes_img {
    width: auto;
    height: 550px;
}




.h2_parcerias {
    text-align: left;
    font-size: 2.074rem;
    width: 96%;
    margin: 5rem 0 3rem 0;
    padding: 0 0 0 2%;
    border-left: 3px solid var(--color-lightred);
    align-content: start;
    line-height: 2.4rem;
}
.section_parcerias {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: var(--color-lightgrey);
    height: 500px;
    padding: 5%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), 70%, rgba(209, 205, 205, 0.219)), url('/Images/pexels-tomfisk-12975468.jpg');
    background-attachment: scroll;
    background-size: cover;
    border-radius: 3rem 0 0 0;
    border-bottom: 3px solid var(--color-lightred);
}
.logo_sibtech {
    width: auto;
    width: 200px;
}
.div_section_parcerias {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}
.div_section_parcerias_titulo {
    display: flex;
    font-size: 1.44rem;
    letter-spacing: 1px;
    line-height: 2rem;
    font-weight: 700;
    text-align: left;
    margin: 0;
}
.div_section_parcerias_h2 {
    font-size: 1.788rem;
    line-height: 2.4rem;
    font-weight: 600;
}
.div_section_parcerias_h3 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
}

.div_sobreimg {
    text-align: right;
    width: 40%;
}
.sobreimg {
    width: auto;
    height: 600px;
}






.h2_incubacao {
    text-align: left;
    font-size: 2.074rem;
    width: 96%;
    margin: 5rem 0 0 0;
    padding: 0 0 0 2%;
    border-left: 3px solid var(--color-lightred);
    align-content: start;
    line-height: 2.4rem;
}
.section_incubacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: var(--color-darkgrey);
    height: 600px;
    padding: 5%;

}
.div_section_incubacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}
.h2_section_incubacao_titulo {
    text-align: left;
    font-size: 1.788rem;
    width: 96%;
    margin: 0 0 1rem 0;
    padding: 0 0 0 2%;
    border-left: 3px solid var(--color-lightred);
    align-content: start;
    line-height: 2.4rem;
}
.div_section_incubacao_h2 {
    font-size: 1.788rem;
    line-height: 2.4rem;
    font-weight: 600;
    margin: 0 0 0 0;
}
.div_section_incubacao_h3 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 8px 0 1rem 0;
}
.div_incubacao_img {
    text-align: center;
    width: 30%;
}
.incubadora_img {
    width: auto;
    height: 250px;
}



.h2_contatos {
    text-align: left;
    font-size: 2.074rem;
    width: 96%;
    margin: 5rem 0 0 0;
    padding: 0 0 0 2%;
    border-left: 3px solid var(--color-lightred);
    align-content: start;
    line-height: 2.4rem;
}
.social_media {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: start;
    height: 600px;
    padding: 5%;
}
.social_media_links {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: left;
    color: var(--color-lightblack);
    width: 50%;
    letter-spacing: 1px;
}
.sm_div {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90%;
    padding: 0 0 0 10%;
}
.p_sm_links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
    width: 100%;
    font-size: 1.2rem;
}
.a_sm_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-lightred);
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.sm_icons {
    height: 25px;
    width: 25px;
}
.div_socialmediaimg {
    text-align: right;
    width: 50%;
}
.socialmediaimg {
    width: auto;
    height: 500px;
    border-radius: 3rem 0 0 0;
    border-bottom: 3px solid var(--color-lightred);
}





.cadastro_email {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: left;
    width: 90%;
    height: 15rem;
    padding: 0 5% 0 5%;
    background-image: linear-gradient(grey, 60%, white);
    background-size: cover;
    background-attachment: scroll;
    color: var(--color-darkgrey); 
    border-radius: 2rem 0 0 0;
    border-bottom: 2px solid var(--color-lightred);
}
.form_cadastro {
    display: flex;
    flex-direction: row;
    width: 30%;
}
.formstyle{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
}
.email_input_style {
    text-align: left;
    border: none;
    border-radius: 1rem;
    padding: 6px 18px;
    width: 90%;
}
.text_input_style {
    text-align: left;
    border: none;
    border-radius: 1rem;
    width: 90%;
    padding: 6px 18px;
}
.btn_cadastrar {
    border-radius: 1rem;
    border: none;
    background-color: #FAF360;
    padding: 6px 18px;
    text-align: left;
    font-size: 0.8rem;
    margin-top: 5px;
    width: 50%;
}
.cv_logo_email {
    height: 60px;
}
.div_text {
    width: 40%;
}
.p_text {
    line-height: 1.5rem;
    width: 100%;
}









.footer_display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: left;
    color: var(--color-darkgrey);
    width: 100%;
    height: 150px;
    padding: 0;
    gap: 1%;
    background-image: linear-gradient(white, 60%, black);
    background-size: cover;
    background-attachment: scroll;
}
.div_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
    text-align: center;
    padding: 2% 5% 2% 5%;
    width: 100%;
    font-size: 1rem;
    line-height: 2rem;
}
.footer_legal {
    line-height: 3rem;
    text-align: left;
    width: 50%;
    font-size: 0.8rem;
    line-height: 2rem;
    text-decoration: none;
}
.add_sm_links {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    text-align: left;
    width: 50%;
    height: 90px;
    gap: 30px;
}
.a_footer_link {
    text-decoration: none;
    color: var(--color-lightred);
}
.div_section_footer_logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: left;
    width: 50%;
    height: auto;
}
.cv_logo_small {
    width: 100%;
}




@media (max-width: 1800px) {
    .bodystyle {
        margin: 0 0 0 2%;
        padding: 0 10% 0 0;
        width: 100%;
    }
    .headerstyle {
        gap: 2.5%;
        width: 90%;
        justify-content: space-between;
        padding: 0 10% 0 0;
    }    
}

@media (max-width: 1500px) {
    .bodystyle {
        margin: 0 0 0 2%;
        padding: 0 10% 0 0;
        width: 100%;
    }
    .headerstyle {
        gap: 2.5%;
        width: 90%;
        justify-content: space-between;
        padding: 0 10% 0 0;
    }    
}


@media (max-width: 1200px) {
    
    :root {
        padding: 0% 0% 0% 0%;
    }
    .bodystyle {
        margin: 0 0 0 2%;
        padding: 0 10% 0 0;
        width: 100%;
    }
    .headerstyle {
        gap: 2.5%;
        width: 90%;
        justify-content: space-between;
        padding: 0 10% 0 0;
    }    

    .section_hero {
        flex-direction: row;
        justify-content: left;
        height: auto;
        width: 96%;
        padding: 10% 2%;
        gap: 5%;
    }
    .div_section_hero {
        width: 50%;
        padding: 0% 0% 5% 0%;
    }
    .div_heroimg {
        width: 35%;
        text-align: left;
        padding: 5% 0 0 0;
    }
    .heroimg {
        height: 400px;
    }



    .section_produto_candidato {
        flex-direction: row;
        justify-content: left;
        height: auto;
        width: 96%;
        padding: 10% 2%;
        gap: 10%;
    }
    .div_produto_candidato_img {
        width: 30%;
    }
    .div_section_produto_candidato {
        width: 50%;
    }
    .produto_candidato_img {
        height: 450px;
    }





    .section_sobre {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 96%;
        padding: 10% 2%;
        gap: 5%;
    }
    .div_section_sobre_conteudo {
        width: 55%;
        padding: 0% 0% 5% 0%;
    }
    .div_sobreimg {
        width: 35%;
        text-align: left;
        padding: 0 0 0 0;
    }
    .sobreimg {
        height: 500px;  
    }




    .section_produto_empresa {
        height: 700px;
        padding: 10% 2%;
    }
    .div_section_produto_empresa {
        display: flex;
        flex-direction: column;
        gap: 5%;
        width: 60%;
    }
    .div_produto_empresa_img {
        text-align: center;
        width: 30%;
    }
    .produto_empresa_img {
        width: auto;
        height: 300px;
    }


    .p_sm_links {
        text-align: left;
    }


    .setores {
        height: 1200px;
        padding: 10% 2%;
    }
    .p_setores_titulo {
        margin-top: 50px;
    }
    .div_h2_setores {
        padding: 0;
    }
    .h2_setores {
        margin: 0;
    }



    .solucoes {
        height: 1200px;
        padding: 10% 2%;
    }
    .p_solucoes_titulo {
        margin-top: 50px;
    }
    .div_h2_solucoes {
        padding: 0;
    }
    .h2_solucoes {
        margin: 0;
    }




    .cadastro_email {
        padding: 0 5% 0 5%;
    }




    .menu_products__links {
        justify-content: space-around;
    }



    .cta_btn_principal, .cta_btn_secundario {
        font-size: 1.2rem;
    }


    .item {
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
        width: 5rem;
    }


    .footer_legal {
        width: 100%;
    }

}







@media (max-width: 834px) {
    :root {
        padding: 0 0 0 0;
        min-width: 400px;
    }

    .bodystyle {
        padding: 0 0 0 0;
        margin: 0 2% 2% 2%;
        height: 8100px;
        width: auto;
    }
    .headerstyle {
        justify-content: space-between;
        width: 90%;
        height: 160px;
        padding: 0 0 0 10%;
        margin: 0;
    }
    .CV_logo {
        width: 150px;
    }
    .navmenu {
        gap: 5%;
        padding: 0%;
        display: grid;
        width: 180px;
        height: 140px;
    }
    .item {
        font-size: 0.75rem;
        padding: 0.2rem 1rem;
        width: 6rem;
    }
    .cta_btn_principal_link, .cta_btn_secundario_link {
        font-size: 1rem;
    }



    .section_hero_principal {
        display: flex;
        flex-direction: row;
        padding: 5%;
        height: 650px;
        border-radius: 25px;
        margin-top: 10px;
        width: 90%;
    }
    .div_section_hero_principal {
        row-gap: 1rem;
        width: 100%;
    }
    .div_section_hero_titulo_principal {
        font-size: 1.44rem;
        letter-spacing: 2px;
        font-weight: 700;
        line-height: 2.2rem;
        text-align: left;
        margin: 0;
    }
    .div_section_hero_h1_principal {
        line-height: 1.8;
        font-size: 1.2rem;
        text-align: left;
        font-weight: 500;
        margin: 400px 0px 0px 0px;
        letter-spacing: 1px;
    }




    .h2_sobre {
        margin: 8rem 0 0 0;
        font-size: 1.788rem;
    }
    .section_hero {
        height: 1150px;
        padding: 10% 2% 20% 2%;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }
    .div_section_hero {
        width: 100%;
        padding: 0;
        height: 600px;
    }
    .div_section_hero_intro {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        text-align: left;
    }
    .div_section_hero_titulo {
        font-size: 1.44rem;
        letter-spacing: 2px;
        line-height: 2.2rem;
    }
    .div_section_hero_h1 {
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .div_heroimg {
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }
    .heroimg {
        height: 500px;
    }



    .h2_solucoes {
        margin: 5rem 0 2rem 0;
        font-size: 1.788rem;
    }
    .section_solucoes {
        display: flex;
        flex-direction: column;
        height: 1200px;
        padding: 10% 2% 20% 2%;
        width: 96%;
    }
    .div_section_solucoes {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .div_section_solucoes_titulo {
        margin: 3rem 0 0 0;
    }
    .div_section_solucoes_h2 {
        font-size: 1.44rem;
        font-weight: 600;
        line-height: 2.4rem;
    }
    .div_section_solucoes_h3 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8rem;
    }
    .div_solucoes_img {
        text-align: center;
        width: 90%;
        margin-top: 30px;
    }
    .solucoes_img {
        align-items: center;
        width: auto;
        height: 450px;
    }






    .h2_parcerias {
        margin: 5rem 0 2rem 0;
        font-size: 1.788rem;
    }
    .section_parcerias {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        justify-content: space-between;
        height: 850px;
        padding: 20% 2%;
        width: 96%;
    }
    .div_section_parcerias_conteudo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .div_section_parcerias_titulo {
        margin: 3rem 0 0 0;
        font-size: 1.44rem;
    }
    .div_section_parcerias_h2 {
        font-size: 1.44rem;
        font-weight: 600;
        line-height: 2.4rem;
        letter-spacing: 2px;
        margin: 1rem 0;
    }
    .div_section_parcerias_h3 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8rem;
        letter-spacing: 1px;
    }



    .menu_products__links {
        display: inline-flex;
        justify-content: start;
        gap: 5%;
    }











    .h2_incubacao {
        margin: 5rem 0 0 0;
    }
    .section_incubacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        justify-content: space-between;
        color: var(--color-darkgrey);
        height: 1000px;
        padding: 10% 2% 20% 2%;
        width: 96%;
    }
    .div_section_incubacao {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .h2_section_incubacao_titulo {
        margin: 0;
    }
    .div_section_incubacao_h2 {
        font-size: 1.44rem;
        font-weight: 600;
        line-height: 2.4rem;
        margin: 1rem 0;
        width: 95%;
    }
    .div_section_incubacao_h3 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8rem;
        letter-spacing: 1px;
    }
    .div_incubacao_img {
        text-align: center;
        width: 100%;
    }
    .incubadora_img {
        width: auto;
        height: 250px;
    }






    .h2_contatos {
        text-align: left;
        font-size: 2.074rem;
        width: 96%;
        margin: 2rem 0 0 0;
        padding: 0 0 0 2%;
        border-left: 3px solid var(--color-lightred);
        align-content: start;
        line-height: 2.4rem;
    }
    .social_media {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: auto;
        padding: 10% 2% 20% 2%;
        width: 96%;
        height: 800px;
    }
    .social_media_links {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: left;
        color: var(--color-darkgrey);
        width: 100%;
        letter-spacing: 1px;
    }
    .sm_div {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 95%;
        padding: 0 0 0 5%;
    }
    .p_sm_links {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        text-align: left;
        justify-content: start;
        width: 100%;
        font-size: 1rem;
    }
    .a_sm_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
    .sm_icons {
        height: 25px;
        width: 25px;
    }
    .div_socialmediaimg {
        text-align: center;
        width: 100%;
    }
    .socialmediaimg {
        width: auto;
        height: 400px;
    }
    






    .cadastro_email {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        height: auto;
        width: 96%;
        padding: 10% 2%;
    }
    .form_cadastro {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .formstyle {
        margin-top: 5%;
        gap: 5%;
        padding: 20px 0 20px 0;
        height: 160px;
        width: 100%;
    }
    .email_input_style {
        text-align: left;
        border: none;
        border-radius: 1rem;
        padding: 6px 18px;
        width: 90%;
        line-height: 2rem;
    }
    .text_input_style {
        text-align: left;
        border: none;
        border-radius: 1rem;
        width: 90%;
        padding: 6px 18px;
        line-height: 2rem;
    }
    .btn_cadastrar {
        border-radius: 1rem;
        border: none;
        background-color: #FAF360;
        padding: 6px 18px;
        text-align: left;
        font-size: 1rem;
        margin-top: 5px;
        width: 50%;
        min-width: 20px;
        line-height: 2rem;
    }
    .cv_logo_email {
        height: 70px;
    }
    .div_text {
        width: 100%;
    }
    .p_text {
        line-height: 1.5rem;
        width: 100%;
    }
    











    .footer_display {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 96%;
        height: 200px;
        padding: 20% 2%;
    }
    .div_footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10%;
        text-align: center;
        width: 100%;
        font-size: 1rem;
        line-height: 2rem;
        padding: 0;
        height: 250px;
    }
    .footer_legal {
        line-height: 3rem;
        text-align: left;
        width: 50%;
        font-size: 0.8rem;
        line-height: 2rem;
        text-decoration: none;
        width: 96%;
    }

    .a_footer_link {
        text-decoration: none;
        color: var(--color-lightred);
    }
    .div_section_footer_logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: left;
        width: 96%;
    }
}
